@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Logo Font */
@font-face {
  font-family: 'OpticTrial';
  src: url('/fonts/OpticTrial-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  /* 필요한 경우 여기에 기본 body 스타일을 추가합니다. */
  /* 예: color: theme('colors.gray.900'); */
  background-color: #111827;
  overscroll-behavior: none;
}

html {
  background-color: #111827;
  overscroll-behavior: none;
}

/* 선택된 텍스트 색상 */
::selection {
  background-color: #2563eb;
  color: #ffffff;
}

.no-scrollbar {
  -ms-overflow-style: none !important;
  /* IE, Edge */
  scrollbar-width: none !important;
  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important;
  /* Chrome, Safari, Opera */
  width: 0 !important;
  /* 혹시라도 트랙 공간 차지 방지 */
  height: 0 !important;
}


/* 텍스트 2줄 제한 */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}